.flex {
  display: flex;
}

.headerGridContainer {
  background: rgba(34, 60, 0, 1);
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerContainer {
  padding-bottom: 10px;
}

div .headerLogo:hover {
  cursor: pointer;
}

.headerLogoContainer {
  padding-left: 12px;
}

.headerLogo {
  margin-top: 22px;
  margin-left: 12px;
  color: #fff;
  font-size: 2rem;
}

.headerCompanyName {
  color: #fff;
  white-space: "nowrap";
  font-weight: bold;
  padding: 5px 5px 0px 5px;
}

.headerCompanySloganContainer {
  flex-direction: row-reverse;
}

.headerCompanySlogan {
  font-style: italic;
  font-size: 0.9rem;
  float: right;
  color: #fff;
  padding-right: 5px;
  font-family: cursive;
}

.headerCompanyContainer {
  padding-left: 14px;
  padding-top: 16px;
}

.footerContainer {
  background: rgba(34, 60, 0, 1);
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .footerContainer {
    margin-top: 10px !important;
  }
}

.footerSocialIconsContainerBox {
  justify-content: center;
}

.footerSocialIconsContainer {
  padding: 10px;
  background: radial-gradient(rgba(-11, 16, 0, 1), transparent);
  border-radius: 25px;
  margin: 10px;
  align-items: center;
}

div .footerSocialIconsContainer:hover {
  background: rgba(50, 74, 0, 0.8);
}

.footerSocialIcons {
  font-size: 2.5rem !important;
  color: rgba(255, 255, 255, 0.8);
}

.footerSectionGroupContainer {
  justify-content: flex-end;
}

.footerSectionContainer {
  color: #fff;
  padding: 10px;
  margin: 1rem;
  flex-flow: column wrap;
  align-content: flex-end;
}

.footerSectionCopyrights {
  color: #fff;
  padding: 10px;
}

.footerSectionHeader {
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .footerSectionGroupContainer {
    justify-content: start;
  }

  .footerSectionContainer {
    margin: 0;
  }
}
