.dialogTitle {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
  }
  
  @media only screen and (max-width: 600px) {
    .dialogTitle {
      width: 90%;
    }
  }

  .submitButton {
    border-color: rgba(0, 104, 20, 1) !important;
    color: rgba(0, 104, 20, 1) !important;
    text-transform: capitalize !important;
  }

  div .submitButton:hover {
    background: rgba(0, 96, 20, 1) !important;
    color: #fff !important;
  }
  
  