.flex {
  display: flex;
}

.contactUsSectionContainer {
  margin: 1rem !important;
  justify-content: center;
  flex-flow: column;
}

.contactUsSectionTextContainer {
  display: flex;
  justify-content: center;
}

.contactUsSectionText {
  font-size: 2rem !important;
}

.contactUsFormContainer {
  margin: 1rem 3rem 3rem 3rem;
}

@media only screen and (max-width: 600px) {
  .contactUsFormContainer {
    margin: 1rem !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .contactUsFormContainer {
    margin: 1rem !important;
  }
}

.contactForm {
  max-width: 60%;
}

@media only screen and (max-width: 600px) {
  .contactForm {
    max-width: 100% !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .contactForm {
    max-width: 100% !important;
  }
}


.addresses {
  flex-flow: column;
}

.addressContainer {
  margin: 1rem;
}

.address {
  margin-left: 1rem !important;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  margin-top: 1rem !important;
}

.addressInfoIcon {
  border-radius: 50%;
  background: rgba(34, 60, 0, 1);
  margin: 1rem 1rem 0rem 1rem !important;
  padding: 0.75rem !important;
  font-size: 3rem !important;
  color: #fff;
}
