.flex {
  display: flex;
}

.higlightedText {
  color: rgba(0, 104, 20, 1);
  font-weight: 600;
}

.homeImage {
  margin: 1rem;
  width: 45%;
  height: auto;
}

.homeContent {
  width: 50%;
}

div .homeContent:hover {
  cursor: pointer;
  padding: 0.1rem;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.primaryButton {
  border-color: rgba(0, 104, 20, 1) !important;
  color: rgba(0, 104, 20, 1) !important;
  font-size: 1.25rem !important;
  margin-top: 1.5rem !important;
  text-transform: capitalize !important;
}

div .primaryButton:hover {
  background: rgba(0, 96, 20, 1) !important;
  color: #fff !important;
}

.introContentText {
  text-align: center !important;
  margin: 1rem !important;
  font-size: 2rem !important;
  font-weight: 600 !important;
  marginTop: 5px 
}

@media only screen and (max-width: 600px) {
  .homeImage {
    display: none;
  }

  .homeContent {
    width: 100%;
  }

  p.introContentText  {
    text-align: center !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .homeImage {
    display: none;
  }

  .homeContent {
    left: 10px;
    width: 100%;
  }
}
