.flex {
    display: flex;
  }
  
  .ourProjectsSectionContainer {
    margin: 1.5rem;
    justify-content: center;
  }
  
  .ourProjectsSectionText {
    font-size: 2.5rem !important;
    font-weight: 600 !important;
    border-width: 0;
    border-style: solid;
    border-color: rgba(0, 104, 20, 1);
    border-bottom-width: 0.2rem;
  }

  .carouselImage {
    height: 500px !important;
  }

  .imageList {
      width: 80%;
  }

  @media only screen and (max-width: 600px) {
    .imageList {
      width: 100%;
      height: 100%;
    }
  }